---
import { Image } from 'astro:assets'

import { Quote } from 'astro-pure/advanced'
import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import ProjectCard from '@/components/home/ProjectCard.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import config from '@/site-config'

const programming = ['C', 'C++', 'Python', 'Java', 'Shell', 'Matlab']
const skills = ['Git', 'Linux']
const data_analysis = ['MySQL', 'Machine Learning']

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)

const imagePath = config.logo.src
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/*.{jpeg,jpg,png,gif,avif,webp}'
)
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,avif,webp}"`
  )
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={images[imagePath]()}
        alt={config.logo.alt || 'Profile'}
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
        fetchpriority='high'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-medium'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='China / Harbin'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label
            title='Github'
            as='a'
            href='https://github.com/WHT0909'
            target='_blank'
          >
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='About'>
        <p class='text-muted-foreground'>
          我是 Xiao Hei，是一名大四本科生。目前就读于四川大学生物医学工程学院，修读医学信息工程专业。我喜欢开发一些有趣、实用的小工具。我在硕士阶段的研究方向是非侵入式脑机接口。
        </p>
        <p class='text-muted-foreground'>
          我对诗歌、小说和摇滚乐都很感兴趣，欢迎和我交流!😊
        </p>
        <Button title='More about me' class='w-fit self-end' href='/about' variant='ahead' />
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' variant='ahead' />
          </Section>
        )
      }

      <Section title='Education'>
        <Card
          as='a'
          heading='四川大学'
          subheading='生物医学工程学院'
          date='September 2022 - June 2026'
          href='https://bme.scu.edu.cn/'
        >
        </Card>
        <Card
          as='a'
          heading='天津大学'
          subheading='医学院'
          date='September 2026 - Now'
          href='https://mstu.tju.edu.cn/'
        >
        </Card>

      </Section>


      <Section title='Skills'>
        <SkillLayout title='Programming' skills={programming} />
        <SkillLayout title='Skills' skills={skills} />
        <SkillLayout title='Data Analysis' skills={data_analysis} />
      </Section>
    </div>
    <!-- <Quote class='mt-12' /> -->
    <Quote />
  </main>
</PageLayout>
